body {
    font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
                "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji",
                "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.beige-top {
    background-color: beige;
    padding: 10px;
    text-align: center;
}
.container {
    margin: 20px;
}
.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.form-group label {
    flex-basis: 20%;
    flex-shrink: 0;
    margin-right: 10px;
}
.form-group input,
.form-group textarea,
.form-group select {
    flex-grow: 1;
    max-width: 400px;
}

#buttonGroup {
    display: flex;
    justify-content: start; /* Aligns items to the start */
}

#buttonGroup button:not(:last-child) {
    margin-right: 5px; /* Adds margin to all buttons except the last one */
}